.diferencial__row{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 2rem 0;
    gap: 2rem;
}
.diferencial__item{
    width: calc(100% / 3);
    border: 1px solid var(--primary-color);
    padding: 2rem 3rem;
    border-radius: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.diferencial__item__icon{
    width: 100px;
    margin-bottom: 1rem;
}

@media (max-width: 768px){
    .diferencial__row{
        flex-wrap: wrap;
    }
    .diferencial__item{
        width: 100%;
    }
}