.solucoes-digitais{
    padding: 3rem 0;
}
.solucoes-digitais h4{
    padding: 2rem 0;
    color: var(--secondary-color);
    font-size: 1.8rem;
}
.solucoes-digitais__boxes{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.solucoes-digitais__boxes--reverse{
    flex-direction: row-reverse;
}
.solucoes-digitais__boxes__box-image{
    width: 40%;
}
.solucoes-digitais__boxes__box-text{
    width: 60%;
    font-size: 1.2rem;
    line-height: 1.8rem;
}
.solucoes-digitais__boxes__box-text p{
    margin-bottom: 1rem;
}
.solucoes-digitais__boxes__box-text p span{
    font-family: var(--font-bold);
}
.solucoes-digitais__boxes__box-text ul{
    margin-bottom: 1rem;
}
.solucoes-digitais__boxes__box-text ul li{
    display: block;
}
.solucoes-digitais__boxes--reverse .solucoes-digitais__boxes__box-text ul{
    padding-left: 1rem;
}

@media (max-width: 768px){
    .solucoes-digitais__boxes{
        flex-direction: column;
    }
    .solucoes-digitais__boxes__box-text,
    .solucoes-digitais__boxes__box-image{
        width: 100%;
    }
}